.maincontainer
{
    background-color: #202124;
    width: 100%;
    height: fit-content;
    padding:10px 0;
   
    .container
    {       
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    flex-wrap: wrap;
    gap: 5vw;
    justify-content: space-evenly;
    max-width: 100%;
    width: 500%;
    overflow: hidden;
    

    }

}
.maincontainer h1
{
        font-weight: 700;
        color:white;
        font-size: 45px;
        padding-top: 15px;
        text-align: center;
        margin-left: auto;
        margin-right:auto;
        
}
.maincontainer p
{
        color:rgb(202, 193, 193);
        text-align: center;
        margin-left: auto;
        margin-right:auto;
        margin-bottom: 50px;
}
@media only screen and (max-width: 800px) {

.maincontainer
{    
.container
{
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    flex-wrap: wrap;
    gap: 3vw;
    justify-content: space-evenly;
    max-width: 100%;
    width: 500%;
    overflow: hidden;
}

}
}