.background {
  background-color: rgba(55, 0, 253, 0.041);
  width: 100%;
  height: fit-content;
  padding-bottom: 5vh;

  .title {
    display: flex;
    justify-content: center;
    overflow: hidden;
    .bg {
      margin: 0;
      font-weight: 900;
      font-size: 13vw;
      position: relative;
      letter-spacing: 15px;
      color: rgba(55, 0, 253, 0.068);
    }
    .fg {
      letter-spacing: 35px;
      position: absolute;
      margin-top: 90px;
      font-size: 6em;
    }
  }

  // @keyframes slide {
  //   0% {
  //     transform: translate3d(0, 0, 0);
  //   }

  //   100% {
  //     transform: translate3d(-800px, 0, 0);
  //   }
  // }

  .coreteam {
    display: flex;
    justify-content: center;
  }
  .container1 {
    display: flex;
    gap: 5vh;
    justify-content: center;
    max-width: 100%;
    width: 500%;
    overflow: hidden;
    margin-bottom: 10vh;
    .box1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      
      .name {
        margin-top: 15px;
        margin-bottom: 0px;
      }

      .img {
        width: 200px;
        transition: width 0.2s ease-out;
        object-fit: cover;
        border-radius: 50%;
        &:hover {
          width: 210px;
          box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2),
            0 8px 20px 0 rgba(0, 0, 0, 0.19);
        }
      }

      .socials {
        margin-top: 15px;
        display: flex;
        gap: 30px;
        justify-content: center;

        .icon {
          font-size: 20px;
          cursor: pointer;
          &:hover {
            color: skyblue;
          }
        }
      }
    }

    .img {
      width: 250px;
    }
  }
  .container {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    flex-wrap: wrap;
    gap: 3vw;
    justify-content: space-evenly;
    max-width: 100%;
    width: 500%;
    overflow: hidden;

    .box {
      display: flex;
      flex-direction: column;
      align-items: center;
      animation: slide 5s linear infinite;

      .name {
        margin-top: 15px;
        margin-bottom: 0px;
      }

      .img {
        width: 200px;
        transition: width 0.2s ease-out;
        object-fit: cover;
        border-radius: 50%;
        &:hover {
          width: 210px;
          box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2),
            0 8px 20px 0 rgba(0, 0, 0, 0.19);
        }
      }

      .socials {
        margin-top: 15px;
        display: flex;
        gap: 30px;
        justify-content: center;

        .icon {
          font-size: 20px;
          cursor: pointer;
          &:hover {
            color: skyblue;
          }
        }
      }
    }

    .img {
      width: 250px;
    }
  }

  .container::-webkit-scrollbar {
    display: none;
  }
}

@media only screen and (max-width: 800px) {

  .background {
    background-color: rgba(55, 0, 253, 0.041);
    width: 100%;
    height: fit-content;
  
    .title {
      display: flex;
      justify-content: center;
      .bg {
        margin-top: 5%;
        font-weight: 900;
        font-size: 6vh;
        position: relative;
        letter-spacing: 15px;
        color: rgba(55, 0, 253, 0.068);
      }
      .fg {
        letter-spacing: 20px;
        position: absolute;
        margin-top: 10%;
        font-size: 2vh;
      }
    }

    .container1 {
      display: flex;
      gap: 5vh;
      justify-content: flex-start;
      max-width: 100%;
      width: 500%;
      overflow-x: auto;
      margin-bottom: 10vh;
      .box1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        .name {
          margin-top: 15px;
          margin-bottom: 0px;
        }
  
        .img {
          width: 200px;
          transition: width 0.2s ease-out;
          object-fit: cover;
          border-radius: 50%;
          &:hover {
            width: 210px;
            box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2),
              0 8px 20px 0 rgba(0, 0, 0, 0.19);
          }
        }
  
        .socials {
          margin-top: 15px;
          display: flex;
          gap: 30px;
          justify-content: center;
  
          .icon {
            font-size: 20px;
            cursor: pointer;
            &:hover {
              color: skyblue;
            }
          }
        }
      }
  
      .img {
        width: 250px;
      }
    }
  }  

}
