.background {
  background-color: #202124;
  width: 100%;
  height: fit-content;

  .title {
    color: white;
    margin-left: 5vh;
    padding: 5vh 0 2vh  0;
    margin-top: 0;
    font-weight: 500;
  }
  .container {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .img {
      margin-left: 5vh;
      width: 30%;
      padding: 0 50px 50px 0;
    }

    .right {
       margin-right: 5vh;
       align-items: center;
       justify-content: center;
      .details {
      
        text-align: center;
        line-height: 2;
        font-weight: 500;
        font-size: 18px;
        color: white;
      }
    }
  }
}
