.background {
  background-color: white;
  height: 60vh;
  margin-bottom: 15vh;

  .head {
    display: flex;
    justify-content: center;
    margin-bottom: 5vh;
    
    .title {
      font-weight: 700;
      font-size: 45px;
    }
  }

  .sponsorRow {
    display: flex;
    
    justify-content: space-around;
  }
}
